<!DOCTYPE html>
<html>
  <head>
    <title>Starter template</title>
  </head>
  <body>
    <nav class="uk-navbar">
      <div class="uk-container uk-container-center">
        <a href="#" class="uk-navbar-brand">DeepThought</a>

        <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav uk-hidden-small uk-navbar-attached">
          <li class="uk-active"><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
            <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{target:'#my-id'}"></a>
        </div>
      </div>
    </nav>

    <br>

    <div class="uk-container uk-container-center">
      <div class="uk-panel-box">
          <div id='content'>foo</div>
      </div>
    </div>
  </body>
</html>

<div class="uk-grid">
  <div class="uk-width-1-1" id="stars">
    <div class="uk-width-medium-1-6">
      <div class="uk-panel"></div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  window.DeepThought.initialize();
}); 
</script>