<!DOCTYPE html>
<html>
  <head>
    <title>Starter template</title>
  </head>
  <body>
    <nav class="uk-navbar">
      <div class="uk-container uk-container-center">
        <a href="#" class="uk-navbar-brand">DeepThought</a>
        <ul class="uk-navbar-nav uk-hidden-small uk-navbar-attached">
          <li class="uk-active"><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <div class="uk-navbar-flip">
            <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{target:'#my-id'}"></a>
        </div>
      </div>
    </nav>

    <div id="my-id" class="uk-offcanvas">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
          <li class="uk-active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <!-- Needed for padding at top of body, to look more like Bootstrap's example -->
    <br>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
          <div id='content' 
            class="uk-width-1-2 uk-container-center">foo
          </div>
        </div>
    </div>
  </body>
</html>


<script>
$(document).ready(function(){
  window.DeepThought.initialize();
}); 
</script>