<!DOCTYPE html>
<html>
  <head>
    <title>Starter template</title>
  </head>
  <body>
    <div id="header">
      <nav class="uk-navbar">
        <div class="uk-container uk-container-center">
          <a href="#" class="uk-navbar-brand">DeepThought</a>
          
          <div class="uk-navbar-content search">
            <form class="uk-search">
              <input class="uk-search-field" type="search" placeholder="Search...">
              <button class="uk-search-close" type="reset"></button>
            </form>
          </div>
          <a id="showStars" class="uk-navbar-content"><i class='fa fa-star'></i></a>

          <div class="uk-navbar-flip">
          <ul class="uk-navbar-nav uk-hidden-small uk-navbar-attached">
            
            <li class="uk-active"><a href="">Home</a></li>
            <li><a href="#/contact">About</a></li>
            <%unless (current_user.nil?)%>
              <li><a> <%=current_user.email%></a></li>
              <li><a href="/users/sign_out" data-method="delete">Logout</a></li>
            <%else%>
              <li><a href="/users/sign_in">Login</a></li>
            <%end%>
          </ul>
          </div>
        </div>
      </nav>
    </div>
    <br>
    <div id="container">
      <div class="uk-container uk-container-center">
        <div class="uk-panel-box page">
          <div id='content'>
            <p class="notice" style="color:green"><%= notice %></p>
            <p class="alert" style="color:red"><%= alert %></p>
            Patience.....DeepThought is calculating....
          </div>
        </div>
      </div>
    </div>

  </body>
  
  <div id="footer">
    <div id="keyboard-shortcuts">
      <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', justify:'#keyboard-shortcuts'}">
        <button class="uk-button-large" type="submit">Keyboard Shortcuts &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="uk-icon-caret-up"></i>
        </button>
        <div class="uk-dropdown uk-dropdown-small uk-dropdown-up uk-dropdown-width-1">
          <table class="uk-table">
             <tbody>
                <tr>
                  <th>Tab in</th>
                  <td>Tab</td>
                </tr>
                <tr>
                  <th>Tab out</th>
                  <td>⇧ + Tab</td>
                </tr>
                <tr>
                  <th>Expand/<br>collapse</th>
                  <td>⇧ + Space</td>
                </tr><br>
                <tr>
                  <th>Move up</th>
                  <td>⇧ + ↑</td>
                </tr>
                <tr>
                  <th>Move down</th>
                  <td>⇧ + ↓</td>
                </tr>
                <tr>
                  <th>Move in</th>
                  <td>⇧ + →</td>
                </tr>
                <tr>
                  <th>Move out</th>
                  <td>⇧  + ←</td>
                </tr>
                <tr>
                  <th>Delete</th>
                  <td>⇧ + Backspace</td>
                </tr>
                <tr>
                  <th>Zoom in</th>
                  <td>⌘ + Ctrl + →</td>
                </tr>
                <tr>
                  <th>Zoom out</th>
                  <td>⌘ + Ctrl + ←</td>
                </tr>
             </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</html>

<script>
$(document).ready(function(){
  window.DeepThought.initialize();
}); 

</script>