#main span {
    display: table-cell;
    vertical-align: middle;
    width:250px;
}

ul {
  list-style-type: none;
}

.uk-navbar {
  background: black
}

label { 
  display: inline-block;
  min-width:20px;
  text-align: left
}

.view-toggle {
  opacity: 0;
  text-decoration: none;
}

.uk-panel-box {
  min-height: 800px;
  margin: 20px;
}

html {
  height: 150%;
}

#content { 
margin: 35px;}

#ul1 {
  padding: 0px;
}

.entry_form {
  display: inline-block;
  width: 90%;
}

.uk-form-blank {
  width: 90%;
  height:100%;
}

textarea {
  resize:none;
}

#stars {
  width:100%;
  color:gray;
  background-color: gray
}

.hr {
  height:5px;
  background-color: gray;
  opacity:0;
}

.drop-hover {
  background-color: white;
  .hr {
    opacity:100 !important;
  }

}

.draggedList {
  background-color: lightGray;
}

/*.droppable {
  background-color: gray;
}*/
/*
.drag-hover {
  background-color: white;
}*/

.draggable{
  font-size: 150%;
  display: inline-block;
  float: right;
  color: gray;
  z-index: 10;
}
