#main span {
    display: table-cell;
    vertical-align: middle;
    width:250px;
}

.completed {
  text-decoration: line-through !important;
}

li {
  list-style-type: none;
}

.child {
  padding-bottom: 5px;
  border-left: 1px dotted lightGray;
}

.uk-navbar {
  background: black;
  z-index: 100 !important;
}

.bullet {
  text-align:center;
}

.bullet:hover {
  text-shadow: 2px 2px 5px gray, 
    -2px -2px 5px gray, 
    -2px 2px 5px gray, 
    2px -2px 5px gray !important;
}

.bullet-shadow {
  text-shadow: 2px 2px 5px #70a9d9, 
  -2px -2px 5px #70a9d9, 
  -2px 2px 5px #70a9d9, 
  2px -2px 5px #70a9d9 !important;
}

label { 
  display: inline-block;
  min-width:20px;
  text-align: left
}

.view-toggle {
  opacity: 0;
  text-decoration: none;
  font-weight: bold;
  width: 15px;
}

.page {
  position: relative;
  border-radius:10px !important;
  min-height: 1200px;
  margin: 20px;
  z-index: 0;
}
.container {
  margin: 50px;
}

html {
  height: 150%;
}

#content {
  margin: 35px;
}

.star {
  position: absolute;
  top: 30px;
  right:30px;
}

#ul1 {
  padding: 0px;
}



.entry_form {
  display: inline-block;
  width: 90%;
}

.uk-form-blank {
  width: 90%;
  /*height:100%;*/
}

textarea {
  resize:none;
/*  height:100%;*/
}

/*#footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height:60px;
  color:gray;
  background-color: gray;
  z-index: 2;
}
*/
.hr {
  height:1px;
  background-color: gray;
  opacity:0.1;
}

.drop-hover {
  background-color: white;
}

.drop-hover .hr {
  opacity:1 !important;
}

.uk-search {
  border: 1px solid lightGray;
  border-radius: 15px;
}

.draggedList {
  background-color: lightGray;
}

/*.droppable {
  background-color: gray;
}*/
/*
.drag-hover {
  background-color: white;
}*/
.draggable{
  font-size: 150%;
  display: inline-block;
  float: right;
  color: gray;
  z-index: 10;
  opacity: 0;
}

.star-container {
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  height:250px;
/*  opacity:0.5;*/
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  overflow-y: scroll; 
  white-space: nowrap;
}

.star-page {
  display: inline-block;
  width:175px;
  vertical-align: middle;
  height: 175px;
  margin: 20px;
  padding:10px;
  white-space: normal;
  position: relative;
  opacity: 2;
}

.keyboard{
  size:300%;
  font-weight: bold;
  box-shadow: 10px 10px 5px black;
}
#keyboard-shortcuts{
  position:absolute;
  bottom:0px;
  left:0px;
  z-index: 3;
}

/*.uk-grid {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  margin:0px;
  height: 2000px;
  background-color: gray;
  z-index: 20;
}*/

/* Reset body padding and margins */
body { margin:0; padding:0; }
 
/* Make Header Sticky */
#header_container { background:#eee; border:1px solid #666; left:0; position:fixed; width:100%; top:0; z-index:10; }
/*#header{ line-height:60px; margin:0 auto; width:940px; text-align:center; }*/
 
/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container { margin:0 auto; overflow:auto; padding:0px 0; width:940px; }
#content{}
 
/* Make Footer Sticky */
#footer_container {bottom:0; height:60px; left:0; position:fixed; width:100%; }
/*#footer { line-height:60px; margin:0 auto; width:940px; text-align:center; }*/
