
<br><br><br>
<form class="inline entry_form">
  <input type="button" class="uk-button-link view-toggle" 
    value="-">

  <label for="Contact" class="bullet">
    <a href="#/contact">●</a>
  </label>

   <textarea class="uk-form-blank entry-title"
    name="entry[title]">DeepThought</textarea>
</form>
<ul>
  <form class="inline entry_form">

    <input type="button" class="uk-button-link view-toggle" 
      value="-">

    <label for="Bar" class="bullet">
      <a href="#/contact">●</a>
    </label>

     <textarea class="uk-form-blank entry-title"
      name="entry[title]">is a clone of Workflowy, a hierarchical list creator to categorize and organize your thoughts.</textarea>
    </form>
  <div class="draggable inline">⬍</div>

  <form class="inline entry_form">

    <input type="button" class="uk-button-link view-toggle" 
      value="-">

    <label for="Bar" class="bullet">
      <a href="#/contact">●</a>
    </label>

     <textarea class="uk-form-blank entry-title"
      name="entry[title]">written in Backbone.js and Ruby on Rails</textarea>
  </form>
  <div class="draggable inline">⬍</div>
</ul>


<form class="inline entry_form">

  <input type="button" class="uk-button-link view-toggle" 
    value="-">

  <label for="Bar" class="bullet">
    <a href="#/contact">●</a>
  </label>

   <textarea class="uk-form-blank entry-title"
    name="entry[title]">Bar</textarea>
</form>
<div class="draggable inline">⬍</div>
<ul class="uk-animation-reverse-fade droppable">
</ul>

