<form class="inline entry_form">

  <input type="button" class="uk-button-link view-toggle" 
    value="-">

  <label for="Contact" class="bullet">
    <a href="#/contact">●</a>
  </label>

   <textarea class="uk-form-blank entry-title"
    name="entry[title]">Contact</textarea>
</form>
<div class="draggable inline">⬍</div>
<ul class="uk-animation-reverse-fade droppable">
</ul>

<form class="inline entry_form">

  <input type="button" class="uk-button-link view-toggle" 
    value="-">

  <label for="Bar" class="bullet">
    <a href="#/contact">●</a>
  </label>

   <textarea class="uk-form-blank entry-title"
    name="entry[title]">Bar</textarea>
</form>
<div class="draggable inline">⬍</div>
<ul class="uk-animation-reverse-fade droppable">
</ul>

