<form class="inline entry_form">

  <input type="button" class="uk-button-link view-toggle" 
    value=" ">

  <label class="bullet">
    <a>●</a>
  </label>

   <textarea rows="1.5" class="uk-form-blank entry-title" 
    name="entry[title]">hello this is deepthough</textarea>
</form>
<divclass="draggable inline">⬍</div>
<div class="hr"><hr></hr></div>

<form class="inline entry_form">

  <input type="button" class="uk-button-link view-toggle" 
    value=" ">

  <label class="bullet">
    <a>●</a>
  </label>

   <textarea rows="1.5" class="uk-form-blank entry-title" 
    name="entry[title]">hello this is deepthough</textarea>
</form>
<ul class="uk-animation-reverse-fade droppable">
  <form class="inline entry_form">

    <input type="button" class="uk-button-link view-toggle" 
      value=" ">

    <label class="bullet">
      <a>●</a>
    </label>

     <textarea rows="1.5" class="uk-form-blank entry-title" 
      name="entry[title]">hello this is deepthough</textarea>
  </form>


</ul>
<div class="hr"><hr></hr></div>
